<section class="left">
      <a href="{{ url_for('index.index_page') }}" class="index-link">
            <img src="{{ url_for('static', filename='media/logo.svg') }}" class="svg-icon" alt="rusmarket">
      </a>
      <nav class="h2">
            <a href="{{ url_for('index.index_page') }}">Контакты</a>
            <a href="{{ url_for('index.index_page') }}">Новости</a>
            <a href="{{ url_for('index.index_page') }}">О нас</a>
            <a href="{{ url_for('index.index_page') }}" class="login-btn h2"><i class="h2 bi bi-box-arrow-in-right"></i>&nbspВойти</a>
      </nav>
</section>
<section class="right">
      <div class="search-container">
            <input type="text" class="search-bar form-control" placeholder="Поиск..." aria-label="Поиск">
            <div class="dropdown-menu" id="searchDropdown"></div>
      </div>
</section>
