<section class="left">
      <a href="{{ url_for('index.index_page') }}" class="index-link">
            <img src="{{ url_for('static', filename='media/logo.svg') }}" class="svg-icon" alt="rusmarket">
      </a>
      <nav class="h2">
            <a href="{{ url_for('index.index_page') }}">Контакты</a>
            <a href="{{ url_for('index.index_page') }}">Новости</a>
            <a href="{{ url_for('index.index_page') }}">О нас</a>
            {% if current_user.is_authenticated %}
            <div class="user-header-element">
                  {% if current_user.avatar %}
                        <img src="{{ url_for('static', filename='uploads/'~ current_user.avatar) }}" alt="user_avatar" class="user_avatar">
                  {% else %}
                        <img src="{{ url_for('static', filename='media/default-avatar.png') }}" alt="user_avatar" class="user_avatar">
                  {% endif %}
                  <span class="user_nickname">{{ current_user.username }}</span>
                  <a href="{{ url_for('user.logout') }}"><i class="bi bi-box-arrow-right"></i></a>
            </div>
      {% else %}
            <a href="{{ url_for('user.login') }}" class="login-btn h2"><i class="h2 bi bi-box-arrow-in-right"></i>&nbspВойти</a>
      {% endif %}
            <!-- <a href="{{ url_for('index.index_page') }}" class="login-btn h2"><i class="h2 bi bi-box-arrow-in-right"></i>&nbspВойти</a> -->
      </nav>
</section>
<section class="right">
      <div class="search-container">
            <input type="text" class="search-bar form-control" placeholder="Поиск..." aria-label="Поиск">
            <div class="dropdown-menu" id="searchDropdown"></div>
      </div>
</section>
