{% extends "main/base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<section class="user_settings card shadow-lg p-4 rounded-5">
    {% if current_user.avatar %}
        <img src="{{ url_for('static', filename='uploads/'~ current_user.avatar) }}" alt="user_avatar" class="user_avatar_big">
    {% else %}
        <img src="{{ url_for('static', filename='media/default-avatar.png') }}" alt="user_avatar" class="user_avatar_big">
    {% endif %}
    <div class="user_info">
        <div class="user_info_only">
            <div class="user_block"><h2>Имя</h2>{{ current_user.username }}</div>
            <div class="user_block"><h2>Email</h2>{{ current_user.email }}</div>
            <div class="user_block"><h2>Статус Email</h2>{{ current_user.email }}</div>
            <div class="user_block"><h2>Телефон</h2>{{ current_user.phone or 'Не указан' }}</div>
            <div class="user_block"><h2>Организация</h2>{{ current_user.phone or 'Не указан' }}</div>
            <div class="user_block"><h2>Роль</h2>{{ current_user.status }}</div>
            <div class="user_block"><h2>Регистрация</h2>{{ current_user.date.strftime('%d.%m.%Y') }}</div>
        </div>
        <div class="edit_section">
            <div>Смениить</div>
            <div>Смениить</div>
            {% if not current_user.confirmed %}
                <form method="POST" action="{{ url_for('user.send_confirmation') }}">
                    {{ form.hidden_tag() }}
                    {{ form.submit(class="btn btn-primary", id="confirm-btn") }}
                    <span class="spinner-border spinner-border-sm d-none"></span>
                </form>
            {% else %}
                <div>Подтверждено</div>
            {% endif %}
            <div>Смениить</div>
            <div>Смениить</div>
        </div>
    </div>
</section>
{% endblock %}