header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsla(301, 73%, 86%, 0.6);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 40px 40px;
  z-index: 1000;
  overflow: hidden;
} 

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    pointer-events: none;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), transparent 50%);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
}


header:hover::before {
  transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px)) scale(2);
}

header a.index-link {
  color: #000000cc;
  transition: all .2s ease-in-out;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  /* font-size: 32px; */
  font-weight: bold;
}

header a:hover.index-link{
  transform: scale(1.02);
  box-shadow: 0px 2px 10px 4px #6756b0cc;
  
}

header nav {
  display: flex;
  gap: 20px;
  /* font-size: 18px; */
}

header a {
  text-decoration: none;
  color: #000000cc;
  /* font-size: 1.1rem; */
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

header a:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.login-btn {
  padding: 10px 25px;
  /* font-size: 1.1rem; */
  color: #000000cc;
  background: linear-gradient(135deg, #c0b8bd, #bd63e6);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.login-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px #000000cc;
}

.content-name {
  text-align:center;
}

.user-header-element{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  border-radius: 40px;
  background: hsla(277, 59%, 71%, 0.8);
  padding: 1px;
}

.user_nickname{
  display: flex;
  align-items: center;
}

.user_avatar{
  display : flex;
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: 50%;
  object-fit: cover
}
