/* @import url('fonts.css'); */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Inter/Inter_24pt-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Inter/Inter_24pt-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Inter;
    background: rgb(255, 255, 255);
    background-attachment: fixed;
}

.content {
  height: 100vh;
  padding: 90px;
  padding-bottom: 20px;
  text-align:justify;
  box-sizing: border-box;
}

.content-name {
text-align:center;
}

.h1, h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: unset;
}

.h2, h2 {
  margin-bottom: unset;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
}

.h3, h3{
  font-family: Inter;
  font-size: 16px;
  margin-bottom: unset;
}

/* ползунок */
* {
  scrollbar-width:thin;
  scrollbar-color: rgba(86, 81, 249, 0.289) #241f27;
}

.flash-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flash-message {
  display: flex;
  flex-direction: row;
  border-radius: 25px; /* Делаем углы скруглёнными */
  padding: 10px 20px;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}

/* header__________________________________ */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e0e0f3;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 40px 40px;
  z-index: 1000;
  overflow: hidden;
}

header .left {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: start;
  gap: 15px; /* Расстояние между логотипом и навигацией */
}
header .right {
  display: flex;
  justify-content: flex-end; /* Прижимает поиск к правому краю */
  width: 30%; /* Ограничивает ширину правой секции */
}


header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    pointer-events: none;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), transparent 50%);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
}


header:hover::before {
  transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px)) scale(2);
}

header a.index-link {
  color: #000000cc;
  transition: all .2s ease-in-out;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  /* font-size: 32px; */
  font-weight: bold;
}

header a:hover.index-link{
  transform: scale(1.02);
  box-shadow: 0px 2px 10px 4px #6756b0cc;
}

/* ____________________search container */
.search-container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.search-bar {
  width: 100%; /* Всегда открыта */
  padding: 10px;
  border: none;
  border-radius: 40px; /* Скругление углов */
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.dropdown-menu {
  display: none; /* Скрыт по умолчанию */
  position: absolute;
  top: 100%; /* Появляется под строкой */
  left: 0;
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1100; /* Выше других элементов */
}

.dropdown-menu.show {
  display: block; /* Показывается при активации */
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

/* CSS: стили для SVG иконки */
header img.svg-icon {
  width: auto;
  height: 55px;
  vertical-align: middle;
  filter: invert(10%) sepia(50%) saturate(900%) hue-rotate(210deg); /* Пример для #0A0E56 */
}

header nav {
  display: flex;
  gap: 20px;
  justify-content: start;
}

header a {
  text-decoration: none;
  color: #000000cc;
  /* font-size: 1.1rem; */
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

header a:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.login-btn {
  padding: 10px 25px;
  /* font-size: 1.1rem; */
  color: #000000cc;
  background: linear-gradient(135deg, #c0b8bd, #bd63e6);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.login-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px #000000cc;
}

.content-name {
  text-align:center;
}

.user-header-element{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  border-radius: 40px;
  background: hsla(277, 59%, 71%, 0.8);
  padding: 1px;
}

.user_nickname{
  display: flex;
  align-items: center;
}

.user_avatar{
  display : flex;
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: 50%;
  object-fit: cover
}
/* __________________________________footer */
