.btn-hover {
    transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
transform: scale(1.05);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-form, .register-form{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    gap: 10px;
}

.user_settings{
    display: flex;
    flex-direction: row;
    height: 70%;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.user_avatar_big{
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
}

.user_info{
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: row;
    gap: 20px;
}

.user_info_only{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
}

.user_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit_section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}